:root {
    --color-primary-brand: #4D5AE5;
    --color-pressed-state: #404BBF;
    --color-dark: #2E2F42;
    --color-success: #31D0AA;
    --color-text: #434455;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;
    --color-model-overlay: #2E2F42;
    --color-hero-background: #2E2F42;
    --color-white-background: #FFFFFF;
    --color-model-background: #FCFCFC;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    background-color: var(--color-white-background);
}


.container {
    width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary-brand);
    margin-right: 76px;

}

.logo-header {
    color: var(--color-dark);
}

.header-list {
    display: flex;
    gap: 40px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title-container {
    padding: 188px 0;
}

.title-section {
    background-color: var(--color-hero-background);

}

.title-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 496px;
    margin: 0 auto;

}

.button-studio {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
}

.button-studio:hover,
.button-studio:focus {
    background-color: var(--color-pressed-state);
    cursor: pointer;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.digital-container {
    padding-top: 120px;
    padding-bottom: 120px;

}

.digital-element {

    display: flex;
    gap: 24px;
}

.digital-text {
    margin-top: 8px;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}


.applications-cotainer {
    padding-bottom: 120px;
}

.applications {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark);
}

.applications-list {
    margin-top: 72px;
    display: flex;
    gap: 24px;
}

.staff-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.staff {
    background-color: var(--color-light);
}

.staff-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.staff-background {
    background-color: var(--color-white-background);
}

.staff-information {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}




/* Portfolio */


.link-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-model-overlay);
}

.link-menu:hover,
.link-menu:focus {
    color: var(--color-pressed-state);
}

.button-portfolio-container {
    padding-top: 96px;
    padding-bottom: 72px;
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-primary-brand);
    background-color: var(--color-light);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 12px 24px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--color-white-background);
    background-color: var(--color-pressed-state);
}

.contact {
    font-style: normal;
    display: flex;
    margin-left: auto;

}

.contact-info {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--color-text);

}

.contact-info:hover,
.contact-info:focus {
    color: var(--color-pressed-state);
}

.programs-container{
    padding-bottom: 120px;
}

.programs-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.programs{
    border: 1px solid var(--color-accent);
}

.projects{
    padding: 32px 16px 32px 16px;
    border-bottom: 1px solid var(--color-accent);
    border-right: 1px solid var(--color-accent);
    border-left: 1px solid var(--color-accent);
}

.projects-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);

}

.projects-tipe {
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.footer {
    background-color: var(--color-hero-background);
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    color: var(--color-light);
}

.footer-content {
    max-width: 264px;
    margin-top: 17.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}